*{
    margin: 0 auto;
}

.container {   
    display: grid;      
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 1fr 4fr 1fr; 
    grid-template-rows:  50px 50px auto 5%;   
    grid-template-areas: 
    ". header ." 
    ". search ." 
    ". list ."
    ". footer .";   
    align-items: center; 
    background: #F45B69;
    justify-items: stretch;
    font-family: 'Open Sans', sans-serif;    
}


.header {
    grid-area: header;    
    text-align: center;
    height: 50%;
    background: #FFFFFF;    
    border-radius: 3px;
    padding-top: 8px;
    color: #050505;
    font-size: 18px;
    font-weight: bold;
    align-self: start;
}

.header p {
    padding: 3px;
}


form {    
    grid-area: search;   
    justify-self: center;
    background: #FFFFFF;
    font-family: 'Rubik', sans-serif;     
    border-radius: 3px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #577590;
    font-weight: bold;   
}


.suggestions{
    list-style-type: none;
    grid-area: list;
    flex-wrap: wrap;
        
}
    
li {
    background: white;
    padding: 5px 5px 5px 5px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #577590;

}

li a {
    text-decoration: none;
    color: black;
}


.title :hover{
    color: grey;
}

.footer {
    grid-area: footer;     
    align-self: end;
    color:#FFFFFF ;  
}

.footer a {
    color: #FFFFFF;
}

