*{
    margin: 0 auto;
}

.container {   
    display: grid;      
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: 1fr 4fr 1fr; 
    grid-template-rows:  10vh 5vh 5vh 5vh auto 5vh;   
    grid-template-areas: 
    ". header ."
    ". title ."  
    ". search ."
    ". random ." 
    ". list ."
    ". footer .";   
    align-items: center; 
    background: #F45B69;
    justify-items: stretch;
    font-family: 'Open Sans', sans-serif;    
}

.searchTitle {
    grid-area: search;
    justify-items: center;
}


.title{
    grid-area: title;
    color: #FFFFFF;
}
.header {
    grid-area: header;    
    text-align: center;
    height: 50%;
    background: #FFFFFF;    
    border-radius: 3px;
    padding-top: 8px;
    color: #050505;
    font-size: 18px;
    font-weight: bold;
    align-self: start;
}

.header p {
    padding: 3px;
}

.random {
    grid-area: random;
    align-self: auto;
    
}
.random :hover{
    color: grey;
}
.random a {
    color: #FFFFFF;
    text-decoration: none;
}
.random a:visited{
    color: #FFFFFF;
}

form {    
    grid-area: search;   
    justify-self: center;
    background: #FFFFFF;
    font-family: 'Rubik', sans-serif;     
    border-radius: 3px;
    text-align: center;
    box-shadow: 2px 2px 2px 2px #577590;
    font-weight: bold;   
}


.suggestions{
    list-style-type: none;
    grid-area: list;
    flex-wrap: wrap;
    min-height: 70vh;
   
}

 .titleH1 :hover {
    color: grey;
 }   

li {
    background: white;
    padding: 5px 5px 5px 5px;
    margin: 20px auto;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #577590;
    

}



li a {
    text-decoration: none;
    color: black;
}


.article {
    max-height: 80px;
}



.footer {
    grid-area: footer;     
    align-self: end;
    color:#FFFFFF ;  
}

.footer a {
    color: #FFFFFF;
}